{% load i18n %}
{% load staticfiles %}

<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">

    <!-- Use the .htaccess and remove these lines to avoid edge case issues.
         More info: h5bp.com/i/378 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{% block page_title %}{{ _("Medical") }}{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="author" content="{% block meta_author %}{% endblock %}">

    <!-- Mobile viewport optimized: h5bp.com/viewport -->
    <meta name="viewport" content="width=device-width">

    {% block meta %}
    {% endblock %}

    {# use the CDN to get bootstrap css. can not be inside compress css block #}
    {% block cdn_css %}
    <script src="//code.jquery.com/jquery-1.9.1.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    {% endblock cdn_css %}


    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <link rel="stylesheet" href="{% static 'bower_components/jquery-ui/themes/smoothness/jquery-ui.css' %}">
    <link href="{% static 'bower_components/bootstrap/dist/css/bootstrap.css' %}" rel="stylesheet" type="text/css"/>


    <!--<link href="{% static 'bower_components/tinymce/dist/summernote.css' %}" rel="stylesheet">-->
    {% block css %}
    <style>
        .addrus:before {
            content: 'Добавить';
        }

        .deleterus:before {
            content: 'Удалить';
        }

        .errorlist {
            list-style: none;
            padding: 0;
            color: red;
            visibility: hidden;
            margin-left: -133px;
        }

        .errorlist > li:after {
            content: "Это поле обязательно \2191";
            visibility: visible;
        }
    </style>
    {% endblock %}
    
    <!-- More ideas for your <head> here: h5bp.com/d/head-Tips -->

    <!-- All JavaScript at the bottom, except this Modernizr build.
         Modernizr enables HTML5 elements & feature detects for optimal performance.
         Create your own custom Modernizr build: www.modernizr.com/download/ -->
    
    <script src="{% static 'js/libs/modernizr-2.6.2-respond-1.1.0.min.js' %}"></script>
    
    <!-- include summernote css/js-->
</head>
<body class="{% block body_class %}{% endblock %}" {% block body_attributes %}{% endblock %}>
{% block body %}
<!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
     chromium.org/developers/how-tos/chrome-frame-getting-started -->
<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to
    improve your experience.</p>
<![endif]-->
<header>
    {% block header %}

    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/home/">Medical</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false"><i class="fa fa-user"></i>{{ full_name }} <span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/logout/" style="color: maroon"><i class="fa fa-power-off"></i>{% trans 'Выйти из системы' %}</a>
                            </li>
                        </ul>
                </ul>
            </div>
            <!--/.navbar-collapse -->

        </div>
    </div>

    {% endblock %}
</header>

<div role="main">
    {% block content %}{% endblock %}
</div>

<footer>
    {% block footer %}
    <div class="container text-center">
        <hr>
        <p>&copy; <a style="color: #888;" href="">NambaMedia</a> 2015</p>
    </div>
    {% endblock footer %}
</footer>


<!-- JavaScript at the bottom for fast page loading -->

<!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
{% block cdn_js %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/libs/jquery-2.1.1.min.js"><\/script>')</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>
{% endblock cdn_js %}

<!-- scripts concatenated and minified via django-compressor -->
<script src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
<script src="{% static 'bower_components/jquery-ui/jquery-ui.js' %}"></script>
<script src="{% static 'bower_components/jquery-ui/jquery-ui.min.js' %}"></script>
<script src="{% static 'bower_components/tinymce/tinymce.min.js' %}"></script>
<script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.js' %}"></script>
{% block js %}


<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/farm.js' %}"></script>
<script src="{% static 'js/bootstrap.file-input.js' %}"></script>
{% endblock js %}
<script src="{% static 'js/jquery.formset.js' %}" type="text/javascript" charset="utf-8"></script>
<!-- end scripts -->

<!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID.
     mathiasbynens.be/notes/async-analytics-snippet -->
<script>
    var _gaq = [['_setAccount', 'UA-XXXXX-X'], ['_trackPageview']];
    (function (d, t) {
        var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
        g.src = ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g, s)
    }(document, 'script'));
</script>
<script>
    $(document).ready(function () {
        $('input[type=file]').bootstrapFileInput();
    });
</script>
<script type="text/javascript">
    $(function () {
        $(".inline.{{ doctor_form.prefix }}").formset({
            prefix: "{{ doctor_form.prefix }}",
            formCssClass: 'dynamic-formset1'
        });
        $(".inline.{{ service_form.prefix }}").formset({
            prefix: "{{ service_form.prefix }}",
            formCssClass: 'dynamic-formset2'
        });
        $(".inline.{{ photo_form.prefix }}").formset({
            prefix: "{{ photo_form.prefix }}",
            formCssClass: 'dynamic-formset2'
        });
        $(".inline.{{ action_form.prefix }}").formset({
            prefix: "{{ action_form.prefix }}",
            formCssClass: 'dynamic-formset3'
        });
        $(".inline.{{ price_form.prefix }}").formset({
            prefix: "{{ price_form.prefix }}",
            formCssClass: 'dynamic-formset3'
        });
    })
</script>
{% endblock %}
</body>
</html>
