{% extends "_layouts/base.html" %}
{% load i18n %}
{% block css %}
    {{ block.super }}
    <style>
        /* Move down content because we have a fixed navbar that is 50px tall */
        body {
            padding-top: 80px;
            padding-bottom: 20px;
            color: #888;
        }

        td:last-child {
            text-align: right;
        }
    </style>
{% endblock css %}

{% block page_title %}Your Site - Home{% endblock %}
{% block page_class %}home-page{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <h2>{% trans 'Акции' %}</h2>
            <br/>

            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>№</th>
                            <th>{% trans 'Описание' %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for action in actions %}
                            <tr>
                                <td>{{ action.id }}</td>
                                <td>{{ action.description|safe }}</td>
                                <td>
                                    <a href="{% url 'base:action_upd' action.id %}"
                                       class="btn btn-primary edit"><i class="fa fa-pencil"></i>{% trans 'Изменить' %}</a>
{#                                    <a href="{% url 'base:action_delete' action.id %}"#}
{#                                       class="btn btn-danger delete"><i class="fa fa-trash-o"></i>{% trans 'Удалить' %}</a>#}
                                </td>
                            </tr>
                        {% endfor %}
                        <div class="pagination">
                            <span class="step-links">
                                {% if actions.has_previous %}
                                    <a href="?page={{ actions.previous_page_number }}">previous</a>
                                {% endif %}

                                <span class="current">
                                    Page {{ actions.number }} of {{ actions.paginator.num_pages }}.
                                </span>

                                {% if actions.has_next %}
                                    <a href="?page={{ actions.next_page_number }}">next</a>
                                {% endif %}
                            </span>
                        </div>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
