{% extends "_layouts/base.html" %}
{% load i18n %}
{% load wysiwyg %}

{% block css %}
{{ block.super }}
<style>
    /* Move down content because we have a fixed navbar that is 50px tall */
    body {
        padding-top: 80px;
        padding-bottom: 20px;
        color: #888;
    }
</style>
{% endblock css %}

{% block page_title %}Your Site - Home{% endblock %}
{% block page_class %}home-page{% endblock %}
{% block content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.management_form }}
    {% if form.non_field_errors %}
    <div>
        <div>
            {{ form.non_field_errors }}
        </div>
    </div>
    {% endif %}

                {% for field in form %}
            <div>
                <div>
                    <label>
                        {{ field.label }}
                    </label>
                    {% if field.errors %}
                    <span class="errors_field control-label">{{ field.errors }}</span>
                    {% else %}
                    <span class="help-text">{{ field.help_text }}</span>
                    {% endif %}
                </div>
                <div>
                    {{ field }}
                </div>
            </div>
            {% endfor %}
        <div class="text-center">
            <button type="submit" value="{% trans 'Сохранить' %}" class="btn btn-default">
                {% trans 'Сохранить' %}
            </button>
        </div>
</form>

<script>
$(document).ready(function() {
    $('#id_description_ru').summernote({
        height: 200,
        minHeight: null,             // set minimum height of editor
        maxHeight: null,             // set maximum height of editor
        focus: true
    });
    $('#id_description_kk').summernote({
        height: 200
    });
});

var sHTML = $('#id_description_ru').code();
var sHTML = $('#id_description_kk').code();
</script>

<script>
var style_btn = $('.fa-magic').parents('button');
style_btn.on('click', function(){
    style_btn.next('.dropdown-menu').toggle();
    return false;
});
</script>
{% endblock %}
