{% extends "_layouts/base.html" %}
{% load i18n %}
{% load wysiwyg %}

{% block css %}
{{ block.super }}
<style>
    /* Move down content because we have a fixed navbar that is 50px tall */
    body {
        padding-top: 80px;
        padding-bottom: 20px;
        color: #888;
    }
</style>
{% endblock css %}

{% block page_title %}Your Site - Home{% endblock %}
{% block page_class %}home-page{% endblock %}
{% block content %}
{% if form %}
    {{ form.media }}
{% endif %}
<div class="container">
        <div class="row">
            <form action="" enctype="multipart/form-data" method="post">
                {% csrf_token %}
            <div class="col-md-6 col-md-offset-3">
                    {% for field in form %}
                        <div class="{{ field.name }}">
                        <label>{{ field.label }}</label>
                            <div class="col-md-12">
                            {{ field.errors }}
                        {{ field }}
                            </div>
                        </div>
                    {% endfor %}
            {% if instance.external == True %}
            <a href="" class="link_external">Внешняя ссылка</a>
            {% endif %}
            {% if instance.internal == True %}
            <a href="" class="link_internal">Внутренняя ссылка</a>
            {% endif %}
            <button type="submit" value="Send"
                    class=" col-md-12 btn btn-primary btn-comment">{% trans 'Сохранить' %}
            </button>
            </div>
             </form>
            <br/>
        </div>
    </div>
<script>
    $('.external_link').hide();
    $('.internal_link').hide();
    $('.categories').hide();
    $('.institution').hide();
    $('.internal').hide();
    $('.external').hide();
</script>

<script>
    $('.link_external').bind('click', function () {
        $('.external_link').show();
        $('.categories').show();
        $('.internal_link').hide();
        $('.institution').hide();
        return false;
    });
    $('.link_internal').bind('click', function () {
        $('.internal_link').show();
        $('.institution').show();
        $('.external_link').hide();
        $('.categories').hide();
        return false;
    });
</script>

<script>
    $("input").addClass("form-control");
    $("textarea").addClass("form-control");
    $("select").addClass("form-control");
    $("option").addClass("form-control");
    $(".errorlist").addClass("text-left");
</script>
{% endblock %}
