{% extends "_layouts/base.html" %}
{% load i18n %}
{% block css %}
    {{ block.super }}
    <style>
        /* Move down content because we have a fixed navbar that is 50px tall */
        body {
            padding-top: 80px;
            padding-bottom: 20px;
            color: #888;
        }

        td:last-child {
            text-align: right;
        }
    </style>
{% endblock css %}

{% block page_title %}Your Site - Home{% endblock %}
{% block page_class %}home-page{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <h2>{% trans 'Баннер' %} <a href="{% url 'base:banner_create' %}" class="btn btn-success"><i
                    class="fa fa-plus"></i>
                {% trans 'Добавить' %}</a></h2>
            <br/>

            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>№</th>
                            <th>{% trans 'Заголовок' %}</th>
                            <th>{% trans 'Изображение' %}</th>
                            <th>{% trans 'Ссылка' %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for banner in banners %}
                            <tr class="banner">
                                <td>{{ banner.id }}</td>
                                <td>{{ banner.title }}</td>
                                <td><a href="{{ banner.image.url }}">Изображение</a></td>
                                <td>{{ banner.url }}</td>
                                <td>
                                    <a href="{% url 'base:banner_update' banner.id %}"
                                       class="btn btn-primary edit"><i class="fa fa-pencil"></i>{% trans 'Изменить' %}</a>
                                    <a href="{% url 'base:banner_delete' banner.id %}"
                                       class="btn btn-danger delete" data-id="{{ banner.id }}" token="{{ csrf_token }}"><i class="fa fa-trash-o"></i>{% trans 'Удалить' %}</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(".delete").on('click', function (e) {
            e.preventDefault();
            var $removeBtn = $(e.currentTarget);
            $.ajax({
                url: "/ru/banner-delete/" + $(this).data('id') + "/",
                method: 'POST',
                data: {
                    'csrfmiddlewaretoken': $('.delete').attr('token'),
                    'data-id': $(this).data('id')
                },
                success: function (response) {
                    $removeBtn.closest('.banner').remove();
                }
            });
            return false;
        });
    </script>
{% endblock %}
