{% extends "_layouts/base.html" %}
{% load i18n %}
{% block css %}
    {{ block.super }}
    <style>
        /* Move down content because we have a fixed navbar that is 50px tall */
        body {
            padding-top: 80px;
            padding-bottom: 20px;
            color: #888;
        }

        td:last-child {
            text-align: right;
        }
    </style>
{% endblock css %}

{% block page_title %}Your Site - Home{% endblock %}
{% block page_class %}home-page{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <h2>{% trans 'Комментарии' %}</h2>
            <br/>

            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>№</th>
                            <th>{% trans 'Заведение' %}</th>
                            <th>{% trans 'Коментатор' %}</th>
                            <th>{% trans 'Комментарий' %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for comment in comments %}
                            <tr>
                                <td>{{ comment.id }}</td>
                                <td>{{ comment.institution }}</td>
                                <td>{{ comment.commentator_name }}</td>
                                <td>{{ comment.comment|safe }}</td>
                                <td>
                                    <a href="{% url 'base:upd_comment' comment.id %}"
                                       class="btn btn-primary edit"><i class="fa fa-pencil"></i>{% trans 'Изменить' %}</a>
{#                                    <a href="{% url 'base:action_delete' action.id %}"#}
{#                                       class="btn btn-danger delete"><i class="fa fa-trash-o"></i>{% trans 'Удалить' %}</a>#}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
