{% extends "_layouts/base.html" %}
{% load i18n %}
{% load wysiwyg %}

{% block css %}
{{ block.super }}
<style>
    /* Move down content because we have a fixed navbar that is 50px tall */
    body {
        padding-top: 80px;
        padding-bottom: 20px;
        color: #888;
    }
</style>
{% endblock css %}

{% block page_title %}Your Site - Home{% endblock %}
{% block page_class %}home-page{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <h2>{% trans 'Контакты' %}</h2>
        <br/>

        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>№</th>
                        <th>{% trans 'Телефон' %}</th>
                        <th>{% trans 'E-mail' %}</th>
                        <th>{% trans 'Адрес' %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for contact in contacts %}
                    <tr>
                        <td>{{ contact.id }}</td>
                        <td>{{ contact.phone }}</td>
                        <td>{{ contact.email }}</td>
                        <td>{{ contact.address }}</td>
                        <td>
                            <a href="{% url 'base:contact_update' contact.id %}"
                               class="btn btn-primary edit"><i class="fa fa-pencil"></i>{% trans 'Изменить' %}</a>
                            <a href="{% url 'base:contact_delete' contact.id %}"
                               class="btn btn-danger delete"><i class="fa fa-trash-o"></i>{% trans 'Удалить' %}</a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
