{% extends "_layouts/base.html" %}
{% load i18n %}
{% load wysiwyg %}

{% block css %}
{{ block.super }}
{% load crispy_forms_tags %}
<style>
    /* Move down content because we have a fixed navbar that is 50px tall */
    body {
        padding-top: 80px;
        padding-bottom: 20px;
        color: #888;
    }
</style>
{% endblock css %}

{% block page_title %}Your Site - Home{% endblock %}
{% block page_class %}home-page{% endblock %}
{% block content %}
{% wysiwyg_setup %}
 <div class="container">
        <div class="row">
            <h2>{% trans 'Создать контакт' %}</h2>
            <br/>
            <div class="col-md-6 col-md-offset-3">
                {% crispy form %}
            </div>
            <br/>
        </div>
    </div>
{% endblock %}
