{% extends "_layouts/base.html" %}
{% load i18n %}
{% load wysiwyg %}
{% load crispy_forms_tags %}
{% load static %}
{% block css %}
    {{ block.super }}
    <style>
        /* Move down content because we have a fixed navbar that is 50px tall */
        body {
            padding-top: 80px;
            padding-bottom: 20px;
            color: #888;
        }
{#     #id_service textarea:first-child {#}
{#        display: none;#}
{#    }#}
    </style>
{% endblock css %}

{% block page_title %}Your Site - Home{% endblock %}
{% block page_class %}home-page{% endblock %}
{% block content %}
    {% wysiwyg_setup %}
    <div class="container">
        <div class="row">
            <h2>{% trans 'Создать заведение' %}</h2>
            <br/>
            <div class="col-md-6 col-md-offset-3">
                {% crispy form %}
                {% wysiwyg_editor "id_short_description_ru" %}
                {% wysiwyg_editor "id_short_description_kk" %}
            </div>
            <br/>
        </div>
    </div>

<script src="{% static 'js/farm.js' %}"></script>
<script>
    $('#id_service>div').eq(0).hide()
    $('#id_actions>div').eq(0).hide()
</script>
{% endblock %}
