{% extends "_layouts/base.html" %}
{% load i18n %}
{% block css %}
    {{ block.super }}
    <style>
        /* Move down content because we have a fixed navbar that is 50px tall */
        body {
            padding-top: 80px;
            padding-bottom: 20px;
            color: #888;
        }
    </style>
{% endblock css %}

{% block page_title %}Your Site - Home{% endblock %}
{% block page_class %}home-page{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <h2>{% trans 'Создать услугу' %}</h2>
            <br/>

            <div class="col-md-6 col-md-offset-3">
                <form class="the_form" action="/service_create/" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <p>
                            {{ field.label_tag }}
                            {{ field }}
                            {{ field.errors }}
                        </p>
                    {% endfor %}
                    <div class="text-center">
                        <input class="btn btn-default" type="submit" name="submit" value="{% trans 'Создать' %}"/>
                        <a class="btn btn-danger" href="/home/">{% trans 'Отмена' %}</a>
                    </div>
                </form>
            </div>
            <br/>
        </div>
    </div>
{% endblock %}
