{% extends "_layouts/base.html" %}
{% load i18n %}
{% load wysiwyg %}
{% load static %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'bower_components/summernote/dist/summernote.css' %}">
<style>
    /* Move down content because we have a fixed navbar that is 50px tall */
    body {
        padding-top: 80px;
        padding-bottom: 20px;
        color: #888;
    }
</style>
{% endblock css %}

{% block page_title %}Your Site - Home{% endblock %}
{% block page_class %}home-page{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <h2>{% trans 'Создать коментарий' %}</h2>
        <br/>

        <div class="col-md-6 col-md-offset-3">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.management_form }}
                {% if form.non_field_errors %}
                <div>
                    <div>
                        {{ form.non_field_errors }}
                    </div>
                </div>
                {% endif %}

                {% for field in form %}
                <div>
                    <div>
                        <label>
                            {{ field.label }}
                        </label>
                        {% if field.errors %}
                        <span class="errors_field control-label">{{ field.errors }}</span>
                        {% else %}
                        <span class="help-text">{{ field.help_text }}</span>
                        {% endif %}
                    </div>
                    <div class="col-md-12">
                        {{ field }}
                    </div>
                </div>
                {% endfor %}
                <div class="text-center">
                    <button type="submit" value="{% trans 'Сохранить' %}" class="btn btn-default">
                        {% trans 'Сохранить' %}
                    </button>
                </div>
            </form>

        </div>
        <br/>
    </div>
</div>
<script src="{% static 'bower_components/summernote/dist/summernote.min.js' %}"></script>
<script>
    $(document).ready(function () {
        $('#id_comment').summernote({
            height: 200
        });
    });

    var sHTML = $('#id_comment').code();
</script>
<script>
    var style_btn = $('.fa-magic').parents('button');
    style_btn.on('click', function () {
        style_btn.next('.dropdown-menu').toggle();
        return false;
    });
</script>
{% endblock %}
