{% extends "_layouts/base.html" %}
{% load i18n %}
{% block css %}
    {{ block.super }}
    <style>
        /* Move down content because we have a fixed navbar that is 50px tall */
        body {
            padding-top: 80px;
            padding-bottom: 20px;
            color: #888;
        }

        td:last-child {
            text-align: right;
        }
    </style>
{% endblock css %}

{% block page_title %}Your Site - Home{% endblock %}
{% block page_class %}home-page{% endblock %}
{% block content %}

    <div class="container">
        <div class="row">
            <h2>{% trans 'Врачи' %}</h2>
            <br/>
            <a href="{% url 'base:doctor_create' %}" class="btn btn-success"><i
                    class="fa fa-plus"></i>
                {% trans 'Добавить' %}</a>

            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>№</th>
                            <th>{% trans 'Категория' %}</th>
                            <th>{% trans 'Заведение' %}</th>
                            <th>{% trans 'Имя' %}</th>
                            <th>{% trans 'Телефон' %}</th>
                            <th>{% trans 'Почта' %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for doctor in doctors %}
                            <tr>
                                <td>{{ doctor.id }}</td>
                                <td>{{ doctor.speciality }}</td>
                                <td>{{ doctor.rel_institution }}</td>
                                <td>{{ doctor.name }}</td>
                                <td>{{ doctor.phone_number }}</td>
                                <td>{{ doctor.email }}</td>
                                <td>
                                    <a href="{% url 'base:doctor_update' doctor.id %}"
                                       class="btn btn-primary edit"><i class="fa fa-pencil"></i>{% trans 'Изменить' %}
                                    </a>
                                    <a href="{% url 'base:doctor_delete' doctor.id %}"
                                       class="btn btn-danger delete"><i class="fa fa-trash-o"></i>{% trans 'Удалить' %}
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        <div class="pagination">
                            <span class="step-links">
                                {% if doctors.has_previous %}
                                    <a href="?page={{ doctors.previous_page_number }}">previous</a>
                                {% endif %}

                                <span class="current">
                                    Page {{ doctors.number }} of {{ doctors.paginator.num_pages }}.
                                </span>

                                {% if doctors.has_next %}
                                    <a href="?page={{ doctors.next_page_number }}">next</a>
                                {% endif %}
                            </span>
                        </div>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
