{% extends "_layouts/base.html" %}
{% load i18n %}
{% load wysiwyg %}

{% block css %}
{{ block.super }}
<style>
    /* Move down content because we have a fixed navbar that is 50px tall */
    body {
        padding-top: 80px;
        padding-bottom: 20px;
        color: #888;
    }
</style>
{% endblock css %}

{% block page_title %}Your Site - Home{% endblock %}
{% block page_class %}home-page{% endblock %}
{% block content %}
{% wysiwyg_setup %}
{% if ok == True %}
<h1>{% trans 'Спасибо за письмо!' %}</h1>
{% else %}
<form method="post">
    {% csrf_token %}
    {{ form.management_form }}
    {% if form.non_field_errors %}
    <div>
        <div>
            {{ form.non_field_errors }}
        </div>
    </div>
    {% endif %}

    {% for field in form %}
    <div>
        <div>
            <label>
                {{ field.label }}
            </label>
            {% if field.errors %}
            <span class="errors_field control-label">{{ field.errors }}</span>
            {% else %}
            <span class="help-text">{{ field.help_text }}</span>
            {% endif %}
        </div>
        <div>
            {{ field }}
            {% wysiwyg_editor "id_message" %}
        </div>
    </div>
    {% endfor %}
    <div>
        <div>
            <button type="submit" value="{% trans 'Отправить' %}">
                {% trans 'Отправить' %}
            </button>
        </div>
    </div>
</form>
        <script>
$(document).ready(function() {
    $('#id_message').summernote({
        height: 200
    });
});

var sHTML = $('#id_message').code();
</script>
<script>
var style_btn = $('.fa-magic').parents('button');
style_btn.on('click', function(){
    style_btn.next('.dropdown-menu').toggle();
    return false;
});
</script>
{% endif %}
{% endblock %}
