{% extends "_layouts/base.html" %}
{% load i18n %}
{% load wysiwyg %}

{% block css %}
{{ block.super }}
<style>
    /* Move down content because we have a fixed navbar that is 50px tall */
    body {
        padding-top: 80px;
        padding-bottom: 20px;
        color: #888;
    }
</style>
{% endblock css %}

{% block page_title %}Your Site - Home{% endblock %}
{% block page_class %}home-page{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <h2>{% trans 'Обратная связь' %}</h2>
        <br/>

        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>№</th>
                        <th>{% trans 'Ф.И.О' %}</th>
                        <th>{% trans 'E-mail' %}</th>
                        <th>{% trans 'Телефон' %}</th>
                        <th>{% trans 'Сообщение' %}</th>
                        <th>{% trans 'Дата и время' %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for feedback in feedbacks %}
                    <tr>
                        <td>{{ feedback.id }}</td>
                        <td>{{ feedback.name }}</td>
                        <td>{{ feedback.email }}</td>
                        <td>{{ feedback.phone }}</td>
                        <td>{{ feedback.message|safe }}</td>
                        <td>{{ feedback.created_at|date:'d-m.Y H:i' }}</td>
                        <td>
                            <a href="{% url 'base:feedback_delete' feedback.id %}"
                               class="btn btn-danger delete"><i class="fa fa-trash-o"></i>{% trans 'Удалить' %}</a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
