{% extends "_layouts/base.html" %}
{% load i18n %}
{% load l10n %}
{% block css %}
    {{ block.super }}
    <style>
        /* Move down content because we have a fixed navbar that is 50px tall */
        body {
            padding-top: 50px;
            padding-bottom: 20px;
        }

        .fa {
            margin-right: 10px;
        }

        th {
            font-size: large;
        }

        .breakage {
            margin-right: 15px;
        }
    </style>
{% endblock css %}

{% block page_title %}Your Site - Home{% endblock %}
{% block page_class %}home-page{% endblock %}
{% block content %}
    {% if user.is_superuser %}
    <div class="jumbotron">
        <div class="container">
            <h1>{% trans 'Административная панель' %}</h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <table class="table table-responsive">
                <tbody>
                <tr>
                    <th class="col-xs-8"><a href="{% url 'base:categories_list' %}">{% trans 'Категории' %}</a></th>
                    <td class="col-xs-4 text-right"><a href="{% url 'base:category_create' %}"
                                                       class="btn btn-success"><i
                            class="fa fa-plus"></i>
                        {% trans 'Добавить' %}</a><span class="breakage"></span><a href="{% url 'base:categories_list' %}"
                                                                     class="btn btn-primary"><i
                            class="fa fa-pencil"></i>{% trans 'Изменить' %}</a></td>
                </tr>
                <tr>
                    <th class="col-xs-8"><a href="{% url 'base:specialty_list' %}">{% trans 'Специальности' %}</a></th>
                    <td class="col-xs-4 text-right"><a href="{% url 'base:specialty_create' %}" class="btn btn-success"><i
                            class="fa fa-plus"></i>
                        {% trans 'Добавить' %}</a><span class="breakage"></span><a href="{% url 'base:specialty_list' %}"
                                                                     class="btn btn-primary"><i
                            class="fa fa-pencil"></i>{% trans 'Изменить' %}</a></td>
                </tr>

                <tr>
                    <th class="col-xs-8"><a href="{% url 'base:institutions_list' %}">{% trans 'Заведения' %}</a></th>
                    <td class="col-xs-4 text-right"><a href="{% url 'base:institution_create' %}"
                                                       class="btn btn-success"><i
                            class="fa fa-plus"></i>
                        {% trans 'Добавить' %}</a><span class="breakage"></span><a href="{% url 'base:institutions_list' %}"
                                                                     class="btn btn-primary"><i
                            class="fa fa-pencil"></i>{% trans 'Изменить' %}</a></td>
                </tr>
                <tr>
                    <th class="col-xs-8"><a href="{% url 'base:doctor_list' %}">{% trans 'Врачи' %}</a></th>
                    <td class="col-xs-4 text-right"><a href="{% url 'base:doctor_create' %}" class="btn btn-success"><i
                            class="fa fa-plus"></i>
                        {% trans 'Добавить' %}</a><span class="breakage"></span><a href="{% url 'base:comments_list' %}"
                                                                     class="btn btn-primary"><i
                            class="fa fa-pencil"></i>{% trans 'Изменить' %}</a></td>
                </tr>

                <tr>
                    <th class="col-xs-8"><a href="{% url 'base:comments_list' %}">{% trans 'Комментарии' %}</a></th>
                    <td class="col-xs-4 text-right"><a href="{% url 'base:comment_create' %}" class="btn btn-success"><i
                            class="fa fa-plus"></i>
                        {% trans 'Добавить' %}</a><span class="breakage"></span><a href="{% url 'base:comments_list' %}"
                                                                     class="btn btn-primary"><i
                            class="fa fa-pencil"></i>{% trans 'Изменить' %}</a></td>
                </tr>


                <tr>
                    <th class="col-xs-8"><a href="{% url 'base:contacts' %}">{% trans 'Контакты' %}</a></th>
                    <td class="col-xs-4 text-right"><a href="{% url 'base:contact_create' %}" class="btn btn-success"><i
                            class="fa fa-plus"></i>
                        {% trans 'Добавить' %}</a><span class="breakage"></span><a href="{% url 'base:contacts'%}"
                                                                     class="btn btn-primary"><i
                            class="fa fa-pencil"></i>{% trans 'Изменить' %}</a></td>
                </tr>


                <tr>
                    <th class="col-xs-8"><a href="{% url 'base:about_project' %}">{% trans 'Информация о проекте' %}</a></th>
                    <td class="col-xs-4 text-right"><a href="{% url 'base:information_create' %}" class="btn btn-success"><i
                            class="fa fa-plus"></i>
                        {% trans 'Добавить' %}</a><span class="breakage"></span><a href="{% url 'base:about_project'%}"
                                                                     class="btn btn-primary"><i
                            class="fa fa-pencil"></i>{% trans 'Изменить' %}</a></td>
                </tr>

                <tr>
                    <th class="col-xs-8"><a href="{% url 'base:actions' %}">{% trans 'Акции' %}</a></th>
                    <td class="col-xs-4 text-right"><a href="{% url 'base:action_create' %}" class="btn btn-success"><i
                            class="fa fa-plus"></i>
                        {% trans 'Добавить' %}</a><span class="breakage"></span><a href="{% url 'base:actions'%}"
                                                                     class="btn btn-primary"><i
                            class="fa fa-pencil"></i>{% trans 'Изменить' %}</a></td>
                </tr>

                <tr>
                    <th class="col-xs-8"><a href="{% url 'base:feedback_list' %}">{% trans 'Обратная связь' %}</a></th>
                </tr>


                    <tr>
                        <th class="col-xs-8"><a href="{% url 'base:banner_list' %}">{% trans 'Баннер' %}</a></th>
                        <td class="col-xs-4 text-right"><a href="{% url 'base:banner_create' %}"
                                                           class="btn btn-success"><i
                                class="fa fa-plus"></i>
                            {% trans 'Добавить' %}</a><span class="breakage"></span><a href="{% url 'base:banner_list' %}"
                                                                                       class="btn btn-primary"><i
                                class="fa fa-pencil"></i>{% trans 'Изменить' %}</a></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
{% else %}
    <div class="jumbotron">
        <div class="container">
            <h1>{% trans 'Административная панель' %}</h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <table class="table table-responsive">
                <tbody>
                <tr>
                    <th class="col-xs-8"><a href="{% url 'base:institutions' %}">{% trans 'Заведения' %}</a></th>
                    <td class="col-xs-4 text-right"><span class="breakage"></span><a href="{% url 'base:institutions' %}"
                                                                     class="btn btn-primary"><i
                            class="fa fa-pencil"></i>{% trans 'Изменить' %}</a></td>
                </tr>
                <tr>
                    <th class="col-xs-8"><a href="{% url 'base:comments' %}">{% trans 'Комментарии' %}</a></th>
                    <td class="col-xs-4 text-right"><span class="breakage"></span><a href="{% url 'base:comments' %}"
                                                                     class="btn btn-primary"><i
                            class="fa fa-pencil"></i>{% trans 'Изменить' %}</a></td>
                </tr>
                <tr>
                    <th class="col-xs-8"><a href="{% url 'base:services' %}">{% trans 'Услуги' %}</a></th>
                    <td class="col-xs-4 text-right"><span class="breakage"></span><a href="{% url 'base:services' %}"
                                                                     class="btn btn-primary"><i
                            class="fa fa-pencil"></i>{% trans 'Изменить' %}</a></td>
                </tr>
                <tr>
                    <th class="col-xs-8"><a href="{% url 'base:acttions_list' %}">{% trans 'Акции' %}</a></th>
                    <td class="col-xs-4 text-right"><span class="breakage"></span><a href="{% url 'base:acttions_list' %}"
                                                                     class="btn btn-primary"><i
                            class="fa fa-pencil"></i>{% trans 'Изменить' %}</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endif %}
{% endblock %}
