{% extends "_layouts/base.html" %}
{% load i18n %}
{% load wysiwyg %}

{% block css %}
{{ block.super }}
<style>
    /* Move down content because we have a fixed navbar that is 50px tall */
    body {
        padding-top: 80px;
        padding-bottom: 20px;
        color: #888;
    }
</style>
{% endblock css %}

{% block page_title %}Your Site - Home{% endblock %}
{% block page_class %}home-page{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
                    <h2>{% trans 'Информация о проекте' %}</h2>
        <br/>

        <div class="col-md-12">
            <div class="table-responsive">
                {% for information in informations %}
                    {{ information.description|safe }}
                <a href="{% url 'base:information_update' information.id %}" class="btn btn-primary edit">
                    <i class="fa fa-pencil"></i>{% trans 'Изменить' %}
                </a>
                {% endfor %}
                {{ i }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
