{% extends "_layouts/base.html" %}
{% load i18n %}
{% block css %}
    {{ block.super }}
    <style>
        /* Move down content because we have a fixed navbar that is 50px tall */
        body {
            padding-top: 80px;
            padding-bottom: 20px;
            color: #888;
        }

        td:last-child {
            text-align: right;
        }
    </style>
{% endblock css %}

{% block page_title %}Your Site - Home{% endblock %}
{% block page_class %}home-page{% endblock %}
{% block content %}

    <div class="container">
        <div class="pagination">
            <span class="step-links">
                {% if institutions.has_previous %}
                    <a href="?page={{ institutions.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ institutions.number }} of {{ institutions.paginator.num_pages }}.
                </span>

                {% if institutions.has_next %}
                    <a href="?page={{ institutions.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
        <div class="row">
            <h2>{% trans 'Заведения' %}</h2>
            <br/>

            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>№</th>
                            <th>{% trans 'Имя' %}</th>
                            <th>{% trans 'Категория' %}</th>
                            <th>{% trans 'Описание' %}</th>
                            <th>{% trans 'Почта' %}</th>
                            <th>{% trans 'Адрес' %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for institution in institutions %}
                            <tr>
                                <td>{{ institution.id }}</td>
                                <td>{{ institution.name }}</td>
                                <td>
                                    {% for category in institution.category.all %}
                                        {{category}}
                                    {% endfor %}
                                </td>
                                <td>{{ institution.short_description|safe }}</td>
                                <td>{{ institution.email }}</td>
                                <td>{{ institution.address }}</td>
                                <td>
                                    <a href="{% url 'base:institution_updat' institution.id %}"
                                       class="btn btn-primary edit"><i class="fa fa-pencil"></i>{% trans 'Изменить' %}</a>
                                    <a href="{% url 'base:institution_delete' institution.id %}"
                                       class="btn btn-danger delete"><i class="fa fa-trash-o"></i>{% trans 'Удалить' %}</a>
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
