{% extends "_layouts/base.html" %}
{% load i18n %}
{% block css %}
    {{ block.super }}
    <style>
        /* Move down content because we have a fixed navbar that is 50px tall */
        body {
            padding-top: 50px;
            padding-bottom: 20px;
            color: #888;
        }

        .form-top {
            padding: 30px;
            border-radius: 5px;
        }

        .form-bottom {
            background-color: #eee;
            padding: 20px 30px;
        }

        @media (min-width: 767px) {
            .da-forma {
                margin-top: 40px;
                border: #eee solid 3px;

                border-radius: 5px;
            }
        }

        h3 {
            margin-top: 0px;
        }

        label {
            font-weight: normal;
            font-size: 18px;
        }
    </style>
{% endblock css %}

{% block page_title %}Your Site - Home{% endblock %}
{% block page_class %}home-page{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="da-forma">
                    <div class="form-top">
                        <h1>Medical</h1>

                        <h3>{% trans 'Авторизация' %}</h3>
                    </div>
                    <div class="form-bottom">
                        <form class="" name="LoginForm" action="/ru/auth/" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="username">{% trans 'Имя пользователя' %}</label>
                                <input type="text" class="form-control" id="username" name="username"
                                       placeholder="{% trans 'Имя пользователя' %}">
                            </div>
                            <div class="form-group">
                                <label for="password">{% trans 'Пароль' %}</label>
                                <input type="password" class="form-control" name="password" id="password"
                                       placeholder="{% trans 'Пароль' %}">
                            </div>
                            <button type="submit" class="btn btn-block btn-success">{% trans 'Войти' %}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
