<p>Найдено по запросу: <strong>{{ query }}</strong></p>

{% if prices %}
    <ul>
        {% for price in prices %}
        <li>{{ price.title }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p><i>Ничего не найдено</i></p>
{% endif %}