{% extends "_layouts/base.html" %}
{% load i18n %}
{% load wysiwyg %}

{% block css %}
{{ block.super }}
<style>
    /* Move down content because we have a fixed navbar that is 50px tall */
    body {
        padding-top: 80px;
        padding-bottom: 20px;
        color: #888;
    }
</style>
{% endblock css %}
{% block page_title %}Your Site - Home{% endblock %}
{% block page_class %}home-page{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <form action="" enctype="multipart/form-data" method="post">
                {% csrf_token %}
            <div class="col-md-6 col-md-offset-3">
                {{ form }}
            <button type="submit" value="Send"
                    class=" col-md-12 btn btn-primary btn-comment">{% trans 'Сохранить' %}
            </button>
            </div>
             </form>
            <br/>
        </div>
    </div>
<script>
    $("input").addClass("form-control");
    $("textarea").addClass("form-control");
    $("select").addClass("form-control");
    $("option").addClass("form-control");
    $(".errorlist").addClass("text-left");
</script>
{% endblock %}
