{% extends "_layouts/base.html" %}
{% load i18n %}
{% block css %}
    {{ block.super }}
    <style>
        /* Move down content because we have a fixed navbar that is 50px tall */
        body {
            padding-top: 80px;
            padding-bottom: 20px;
            color: #888;
        }

        td:last-child {
            text-align: right;
        }
    </style>
{% endblock css %}

{% block page_title %}Your Site - Home{% endblock %}
{% block page_class %}home-page{% endblock %}
{% block content %}

    <div class="container">
        <div class="row">
            <h2>{% trans 'Специальности' %}</h2>
            <br/>
            <a href="{% url 'base:specialty_create' %}" class="btn btn-success"><i
                    class="fa fa-plus"></i>
                {% trans 'Добавить' %}</a>

            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>№</th>
                            <th>{% trans 'Название' %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for specialty in specialties %}
                            <tr>
                                <td>{{ specialty.id }}</td>
                                <td>{{ specialty.title }}</td>
                                <td>
                                    <a href="{% url 'base:specialty_update' specialty.id %}"
                                       class="btn btn-primary edit"><i class="fa fa-pencil"></i>{% trans 'Изменить' %}
                                    </a>
                                    <a href="{% url 'base:specialty_delete' specialty.id %}"
                                       class="btn btn-danger delete"><i class="fa fa-trash-o"></i>{% trans 'Удалить' %}
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
