{% extends "_layouts/base.html" %}
{% load i18n %}
{% load wysiwyg %}
{% load crispy_forms_tags %}
{% load static %}
{% block css %}
    {{ block.super }}
    <style>
        /* Move down content because we have a fixed navbar that is 50px tall */
        body {
            padding-top: 80px;
            padding-bottom: 20px;
            color: #888;
        }
    </style>
{% endblock css %}

{% block page_title %}Your Site - Home{% endblock %}
{% block page_class %}home-page{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <h2>{% trans 'Изменить заведение' %}</h2>
            <br/>
            <div class="col-md-6 col-md-offset-3">
                {% crispy form %}
            </div>
            <br/>
        </div>
    </div>

<script>
$(document).ready(function() {
    $('#id_short_description_ru').summernote({
        height: 200
    });
    $('#id_short_description_kk').summernote({
        height: 200
    });
});
</script>
<script src="{% static 'js/farm.js' %}"></script>
{% endblock %}
