{% extends '_layouts/base.html' %}
{% load i18n %}
{% block css %}
    <style>
        .upl {
            margin-top: 50px !important;
        }

        .div_form {
            margin-top: 30px;
        }
    </style>
{% endblock %}
{% block content %}

    <div class="container upl">
        <div class="row">
            <h2 class="text-center">{% trans 'Загрузить прайс-лист для' %} {{ farm.name }}</h2>

            <div class="col-md-6 col-md-offset-4 div_form">
                {% if price_form.errors %}
                    <h4>{% trans 'Неверный формат файла для загрузки' %}</h4>
                {% endif %}
                <form action="" enctype="multipart/form-data" method="post" class="form-group">

                    {{ price_form.as_p }}

                    {% csrf_token %}
                    <input type="submit" value="{% trans 'Добавить прайс-лист' %}" class="btn btn-success">
                    <a href="/institutions_list/" class="btn btn-success">{% trans 'Пропустить' %}</a>
                </form>
            </div>
        </div>
    </div>


{% endblock %}